<ion-view view-title="Home">
  <ion-content>
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col col-60">
          <label class="item  item-select">
            <select>
              <option>All</option>
              <option selected>Today</option>
              <option>Overdue</option>
              <option>Future</option>
            </select>
          </label>
        </div>
        <div class="col col-40">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
              </label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div style="background-color: rgb(167, 221, 80)">Sync Completed</div>
    <div class="row">
      <div class="col col-50">.col.col-50</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
  </ion-content>
</ion-view>